@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
.fixed {
    width:100vw;
    position: fixed;
    background-color: transparent;
    display: flex;
    color: teal;
    justify-content: right;
    /* background-color: #fff; */
    padding: 2rem;
    align-items: center;
    /* margin: auto; */
}
.fixed nav {
    width: 50%;
}
.cont-burger {
    visibility: hidden;
    position: relative;
}
.burger {
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    border-radius: 50%;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
}
.linea-burger {
    width: 80%;
    height: .3rem;
    margin-top: .2rem;
    background-color: darkred;
}
.fixed nav ul {
    display: flex;
    justify-content: space-around;
    /* padding: 30px; */

    
}
.fixed nav ul li {
    font-size: 1.5rem;
}
.fixed div {
    width: 50%;
    /* padding: 30px; */
}
.fixed div a img {
    height: 80px;
}
.main-section {
    height: 100vh;
    background-image: url("../img/mains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    display: flex;
}
.main-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}
.div-title {
    width: 50%;
    padding: 2rem;
}
.div-title p {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.flor img {
    height: 400px;
}
@media (max-width: 900px) {
    .main-section {
        flex-direction: column;
    }
    .div-title {
        width:100%;
    }
    .fixed {
        flex-direction: column; 
    }
    .cont-burger {
        visibility: visible;
    }
    .fixed nav ul {
        flex-direction: column;
        padding-top: 1rem;
        /* visibility: hidden; */
    }
    .fixed nav ul li {
        width: 100%;
        text-align: center;
        padding-top: .5rem;
    }
    header div {
        display: flex;
        justify-content: center;
        width: 90%;
    }
}
